<body>
    <!--Header Area-->
    <header class="top">
        <div class="header-left">
            <button class="menu-btn" aria-label="Menu">
                <img src="assets/logo/menu.png" alt="Menu" height="28" />
            </button>
            <button class="search-btn" aria-label="Search">
                <img src="assets/logo/search.png" alt="Search" height="28" />
            </button>
        </div>
        <button class="logo">BVOGUE</button>
        <div class="header-right">
            <button class="profile-btn" aria-label="Profile">
                <img src="assets/logo/profile.png" alt="Profile" height="28" />
            </button>
            <button class="cart-btn" aria-label="Cart">
                <img src="assets/logo/cart.png" alt="Cart" height="28" />
            </button>
        </div>
        <hr>
        <nav class="main-nav">
            <li> <a href="#home">Home</a></li>
            <li> <a href="#about">About</a></li>
            <li> <a href="#contact">Contact</a></li>
            <li> <a href="#services">Services</a></li>
        </nav>
    </header>
</body>