<body>
    <!--Header Area-->
    <header class="top">
        <div class="logo">BVOGUE</div>
        <hr>
        <nav class="main-nav">
            <li> <a href="#home">Home</a></li>
            <li> <a href="#about">About</a></li>
            <li> <a href="#contact">Contact</a></li>
            <li> <a href="#services">Services</a></li>
        </nav>

    </header>


    <!-------------- Main content area --------------->
    <section class="hero-section">
        <img src="assets/hero-image.jpg" alt="Hero-image " class="hero-image ">
        <div class="hero-content ">
            <h1>Be Fashionable</h1>
            <div class="button-row">
                <button class="explore-men ">Men</button>
                <button class="explore-women">Women</button>
            </div>
        </div>
    </section>

    <!---------------New Drop Section-------------->
    <div class="Newdrop">
        <h2>New Drop</h2>
    </div>
    <section class="NewDrop-section">

        <div class="product-card">
            <img src="assets/Women/women (4).jpg" alt="Product Image">
            <div class="product-title">AERIE FLARED LEGGINGS</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.5200.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Women/women (2).jpg" alt="Product Image">
            <div class="product-title">ALONZO JOGGER</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.4000.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Men/men (13).jpg" alt="Product Image">
            <div class="product-title">AERIE FLARED LEGGINGS</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.5200.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Women/women (8).jpg" alt="Product Image">
            <div class="product-title">LYDIA TOP</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.2700.00</div>
        </div>

    </section>

    <!---------------Accessories--------------->
    <section class="accessories-pic">
        <img src="assets/Accessories/Ac (13).jpg" alt="Accessories-Image" class="accessories-image">
        <div class="accessories-content">
            <h2>Accessories</h2>
        </div>
        <div class="ac-button">
            <button class="explore-accessories">Accessories</button>
        </div>
    </section>
</body>