<body>
    <!--Header Area-->
    <header class="top">
        <div class="logo">BVOGUE</div>
        <hr>
        <nav style="flex:1;display:flex;justify-content:flex-center;list-style: none; gap: 2.5rem;;">
            <li> <a href="#home">Home</a></li>
            <li> <a href="#about">About</a></li>
            <li> <a href="#contact">Contact</a></li>
            <li> <a href="#services">Services</a></li>
        </nav>

    </header>


    <!-- Main content area -->
    <section class="hero-section">
        <img src="https://c4.wallpaperflare.com/wallpaper/606/6/575/adult-black-and-white-blur-boy-wallpaper-preview.jpg" alt="Hero-image" class="hero-image">
        <div class="hero-content">
            <h1>Welcome to BVOGUE</h1>
            <p>Your one-stop destination for the latest fashion trends.</p>
            <br><br>
            <button class="explore-button">Explore Now</button>
        </div>
    </section>
</body>