<body>
    <!--Header Area-->
    <header class="top">
        <div class="logo">BVOGUE</div>
        <hr>
        <nav class="main-nav">
            <li> <a href="#home">Home</a></li>
            <li> <a href="#about">About</a></li>
            <li> <a href="#contact">Contact</a></li>
            <li> <a href="#services">Services</a></li>
        </nav>

    </header>


    <!-------------- Main content area --------------->
    <section class="hero-section">
        <img src="assets/hero-image.jpg" alt="Hero-image " class="hero-image ">
        <div class="hero-content ">
            <h1>Be Fashionable</h1>
            <div class="button-row">
                <button class="explore-men ">Men</button>
                <button class="explore-women">Women</button>
            </div>
        </div>
    </section>

    <!---------------New Drop Section-------------->
    <div class="Newdrop">
        <h2>New Drop</h2>
    </div>
    <section class="NewDrop-section">

        <div class="product-card">
            <img src="assets/Women/women (4).jpg" alt="Product Image">
            <div class="product-title">AERIE FLARED LEGGINGS</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.5200.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Women/women (2).jpg" alt="Product Image">
            <div class="product-title">ALONZO JOGGER</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.4000.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Men/men (13).jpg" alt="Product Image">
            <div class="product-title">AERIE FLARED LEGGINGS</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.5200.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Women/women (8).jpg" alt="Product Image">
            <div class="product-title">LYDIA TOP</div>
            <div class="product-size">Size: S M L XL</div>
            <div class="product-price">R.2700.00</div>
        </div>

    </section>

    <!---------------Accessories--------------->
    <section class="accessories-pic">
        <img src="assets/Accessories/Ac (13).jpg" alt="Accessories-Image" class="accessories-image">
        <div class="accessories-content">
            <h2>Accessories</h2>
            <div class="ac-button">
                <button class="explore-accessories">Shop Now</button>
            </div>
        </div>
    </section>

    <!------------- Accessories Drop Section ----------------->
    <div class="Newdrop">
        <h2>New Drop</h2>
    </div>
    <section class="accessories-card">
        <div class="product-card">
            <img src="assets/Accessories/Ac (1).jpg" alt="Product Image">
            <div class="product-title">PHANTOM UTILITY BACKPACK</div>
            <div class="product-price">R.2700.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Accessories/Ac (8).jpg" alt="Product Image">
            <div class="product-title">HIGH TOP SOCKS</div>
            <div class="product-price">R.2700.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Accessories/Ac (5).jpg" alt="Product Image">
            <div class="product-title">DELUXE TRAVEL BAG</div>
            <div class="product-price">R.2700.00</div>
        </div>
        <div class="product-card">
            <img src="assets/Accessories/Ac (2).jpg" alt="Product Image">
            <div class="product-title">LYDIA TOP</div>
            <div class="product-price">R.2700.00</div>
        </div>
    </section>

    <!---------------- SELECTIONS ----------------->
    <section class="selections">
        <div class="selections-content">
            <img src="assets/Men/men (10).jpg" alt="Selections Image" class="selections-image">
            <div class="selections-text">
                <h2>Men</h2>
            </div>
        </div>
        <div class="selections-content">
            <img src="assets/Women/women (5).jpg" alt="Selections Image" class="selections-image">
            <div class="selections-text">
                <h2>Women</h2>
            </div>
        </div>
        <div class="selections-content">
            <img src="assets/Accessories/Ac (4).jpg" alt="Selections Image" class="selections-image">
            <div class="selections-text">
                <h2>Accessories</h2>
            </div>
        </div>
    </section>

    <!-------- footer -------->
    <section class="footer">
        <div class="footer-content">
            <div class="footer-info-row">
                <div class="footer-topic">
                    <h2>YOU SET</h2>
                    <h3>THE TREND</h3>
                    <p>© 2025 BVOGUE Clothing, All rights reserved.</p>
                </div>
                <div class="footer-divider"></div>
                <div class="footer-menu">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="#men">Men</a></li>
                        <li><a href="#women">Women</a></li>
                        <li><a href="#accessories">Accessories</a></li>
                    </ul>
                    <div class="social-icons">
                        <a href="#"><img src="assets/logo/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="assets/logo/instagram.png" alt="Instergram"></a>
                        <a href="#"><img src="assets/logo/whatsapp.png" alt="Whatsapp"></a>
                    </div>
                </div>
                <div class="contact-info">
                    <p>No.203, King Street, Colombo 07</p>
                    <p>+94 777 27 27 22</p>
                    <p>bvogueclothing gmail.com</p>
                    <div class="login-signup">
                        <button class="login-footer">Login</button>
                        <button class="signup-footer">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>